*{

}

main{
    height:1200px;
    padding-top:220px;
}

h1, h2, h3, h4, h5, h6, p{
    background-color:coral;
    width:fit-content;
    margin:0 auto;
}

.title, .counter, .bottom{
    margin:5px;
    padding:10px;
    background-color:yellow;
}

.counter{
    width: 700px;
    margin: 0 auto;
    margin-top:30px;
    display: flex;
    justify-content:space-between;
}

.bottom{
    margin-top:140px;
}

/* ===================== */

header{
    background-color:deepskyblue;
    padding: 20px 0;
    position:fixed;
    width: 100%;
}

.counter__subclass{
    background-color: lime;
    padding:5px;
}

.numero{
    height:100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    background-color:cyan;
}


